name: Publish package to pypi.inkbridge.io

on:
  release:
    types: [published]

jobs:
  package:
    uses: InkbridgeNetworks/package-repo/.github/workflows/python-package.yml@master
    with:
      package_name: freeradius-multi-server

      # How many commits to pull down from the src repository.
      # default: 1
      fetch_depth: 1

      # May be omitted if requirements.txt is in the repo root
      # default: '.'
      working_directory: '.'

      # A project file to make substitutions in, any @@VERSION@@ markers will be
      # replaced with the current tag version.
      project_file: 'pyproject.toml'
    secrets: inherit
